html {
  font-family: "Impact", "Charcoal", sans-serif,
}
.modal { /* Classes that have text selection disabled. You can add more. */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  width: auto;
  height: 30px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 115%;
  top: 130%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip p {
  line-height: 30px;
  margin-top: 0;
  margin-right: 20px;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: -35%;
  left: 27px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.saveBtn:hover .tooltip, .loadBtn:hover .tooltip,
.clearBtn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Core Muuri styles */
.grid {
  position: relative;
  margin: 0 -10px;
  width: 100%;
}
.item {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 10px;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 9999;
}
.item.muuri-item-releasing {
  z-index: 9999;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-placeholder {
  z-index: 2;
  margin: 0;
  opacity: 0.5;
}
.item.muuri-item-placeholder .card {
  border-style: dashed;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  color: #000;
  border: 2px solid;
  border-radius: 5px;
  color: red;
  cursor: grab;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.card:active {
  cursor: grabbing;
}
#ghost {
  color: black;
  border-style: dashed;
  font-size: 25px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: none;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 2;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1rem;
  width: 450px;
  height: auto;
  border-radius: 0.5rem;
  text-align: center;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Styles for adding cards feature */
.group_title, .title, .comment, .code, .item-content h1 {
  text-align: center;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%,  0%);
}
.group_title, .item-content h1 {
  height: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  top: 0px;
  height: 30%;
  font-size: 40px;
}
.comment {
  position: relative;
  top: 33%;
  height: 60%;
  font-size: 16px;
}
.code {
  position: absolute;
  top: 100%;
  transform: translate(-50%, -100%);
  height: 25px;
  font-size: 16px;
}
textarea {
  width: 100%;
  border-style: none;
  white-space: pre-line;
  overflow: hidden;
  resize: none;
  outline: none;
}
p {
  width: 100%;
  white-space: pre;
  overflow: hidden;
}
#title {
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translate(-50%, 5%);
}
#comment {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -42%);
}
#code {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -90%);
}

label {
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 250%;
  display: inline-block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 2px outset lightgray;
  border-radius: 5px;
}
label:active {
  border: 2px inset lightgray;
}
input[type=file] { /* This hides the default input */
  display: none;
}
.saveBtn {
  background-image: url("app_images/save.png");
}
.loadBtn {
  background-image: url("app_images/load.png");
}
.loadBtn:focus {
  padding: 0  0.56em 0 0.68em;
}
.clearBtn {
  background-image: url("app_images/clear.png");
}
.confirmBtn {
  width: 40%;
}
#clearNoBtn {
  float: right;
}
