/* Global styles */
[contenteditable] { /* Allows editing of text elements in Safari */
  -webkit-user-select: text;
  user-select: text;
}
html, textarea {
  font-family: "Georgia", "Times", serif;
}
label, button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 250%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 2px outset lightgray;
  border-radius: 5px;
  background-color: white;
}
button {
  line-height: normal;
}
label:active, button:active {
  border: 2px inset lightgray;
}
p {
  position: absolute;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  color: black;
}
textarea {
  resize: none;
  border-style: none;
  text-align: center;
  overflow-x: hidden;
  cursor: default;
  width: 100%;
}
button:focus, textarea:focus {
  outline: none;
}
input, .dummyGrid {
  display: none;
}
input[type="text"] {
  display: block;
  position: relative;
  float: right;
  text-align: center;
  resize: horizontal;
  /* Place it above the modal */
  z-index: 10;
  width: calc(100% - (68px * 7)); /* Takes window resizing into account */
  height: 53px;
  margin-top: 0px;
  margin-left: -20px;
  font-size: 43px;
}
input[type="text"]:disabled {
  background-color: white;
  color: black;
  border-style: none;
}

/* Classes with animations. More can be added. */
input[type="text"], .card, .card p, .card-remove {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Classes that have text selection disabled. More can be added. */
.modal, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Tooltip styles */
.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  width: auto;
  height: 30px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
  bottom: 115%;
  left: 115%;
  top: 120%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip h6 {
  line-height: 30px;
  margin: 0px 5px 0 5px;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: -35%;
  left: 27px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.toggleEditBtn:hover .tooltip, .zoomOutBtn:hover .tooltip, .zoomInBtn:hover .tooltip, .clearBtn:hover .tooltip,
.saveBtn:hover .tooltip, .loadBtn:hover .tooltip, .exportBtn:hover .tooltip, .downloadBtn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Core Muuri & card styles */
.grid {
  position: relative;
  margin: 8px -10px;
  width: 100%;
}
.item {
  position: absolute;
  width: 250px;
  height: 250px;
  margin: 9px;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 9999;
}
.item.muuri-item-releasing {
  z-index: 9999;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-placeholder {
  z-index: 2;
  margin: 0;
  opacity: 0.5;
}
.item.muuri-item-placeholder .card {
  border-style: dashed;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  border: 4px solid #000000;
  border-radius: 5px;
  cursor: grab;
}
.card:active {
  transform: scale(1.05);
  box-shadow: 4px 4px 2px gray;
  cursor: grabbing;
}
.card-remove, .group-collapse {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
.card-remove {
  right: 0;
  top: 0;
  font-size: 24px;
}
.card-remove:hover {
  font-size: 34px;
}
.group-collapse {
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -30%);
  background-image: url("app_images/collapse.png");
}
.card:hover .card-remove, .card:hover .group-collapse {
  display: block;
}
#ghost {
  border: 4px dashed black;
  cursor: pointer;
}
#ghost:active {
  transform: scale(0.95);
  box-shadow: none;
}

/* Core modal styles */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: none;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 2;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1rem;
  width: 450px;
  height: auto;
  border-radius: 0.5rem;
  text-align: center;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Styles for adding cards feature */
#template {
  position: relative;
  max-width: inherit;
  width: calc(99% + 3px);
  height: 425px;
  margin: 5px 0px 9px 1px;
}
#templateCard, #templateCard:active {
  cursor: default;
  transform: none;
  box-shadow: none;
}
#template p, #templateTitle, #templateComment, #templateCode {
  cursor: text;
}
.regBtn, .groupBtn {
  margin-right: 0px;
  width: 50%;
}
.regBtn {
  float: left;
  cursor: default;
}
.groupBtn {
  float: right;
}
.pickColourBtn {
  position: relative;
  width: 99%;
}
.pickColourBtnDisabled { /* Gets applied in javascript to give the same appearance as a disabled button */
  color: #6F7E86;
  cursor: default;
}
.pickColourBtnDisabled:active {
  border: 2px outset lightgray;
}
.group_title, .heading, .title, .comment, .code, .card h1 {
  text-align: center;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  line-height: -50px;
}
.group_title, .card h1 {
  height: auto;
  max-height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 230%;
}
.card h1 {
  font-size: 75px;
}
.heading {
  max-height: 13%;
  font-size: 170%;
  font-weight: bold;
}
.title {
  top: 15%;
  max-height: 16%;
  font-size: 200%;
  font-weight: bold;
}
.comment {
  top: 64%;
  transform: translate(-50%, -55%);
  max-height: 50%;
  font-size: 130%;
}
.code {
  top: 100%;
  transform: translate(-50%, -100%);
  max-height: 7.5%;
  font-size: 94%;
  height: 100px;
}
#templateGroupTitle {
  font-size: 420%;
}
#templateHeading {
  font-size: 265%;
}
#templateTitle {
  font-size: 360%;
}
#templateComment {
  font-size: 225%;
}
#templateCode {
  font-size: 170%;
  max-height: 8%;
}
.addCardbtn {
  width: calc(99% + 1px);
}

/* Control styles */
.controls {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  margin: -8px -1px;
  top: 0;
}
.controls #space {
  height: 8px;
}
.toggleEditBtn {
  background-image: url("app_images/edit.png");
}
.zoomOutBtn {
  background-image: url("app_images/zoomout.png");
}
.zoomInBtn {
  background-image: url("app_images/zoomin.png");
}
.zoomBtnDisabled { /* Gets applied in javascript to give the same appearance as a disabled button */
  color: #6F7E86;
  background-color: #f1f1f1;
  cursor: default;
}
.zoomBtnDisabled:active {
  border: 2px outset lightgray;
}
.clearBtn {
  background-image: url("app_images/clear.png");
}
.saveBtn {
  background-image: url("app_images/save.png");
}
.loadBtn {
  background-image: url("app_images/load.png");
}
.exportBtn {
  background-image: url("app_images/excel.png");
}
.downloadBtn {
  position: absolute;
  top: 75px;
  right: 10px;
  margin-right: 0;
  margin-bottom: 0;
  background-image: url("app_images/download.png");
}
.downloadBtn .tooltip {
  left: -90%;
}
.downloadBtn .tooltip::after {
  left: 130px;
}
.confirmBtn {
  width: 40%;
}
#clearNoBtn {
  float: right;
}