/*
 * this helps the mirrored elements be the right size
 * and it's generally a good practice
 */

@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url("src/assets/fonts/NotoSansJP-Regular.otf")
}

body {
  font-family: Lato;
  background-color: #000000;
  font-family: 'NotoSansJP-Regular';
}

#logo {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 100px;
  width: 300px;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

.groups {
  font-family: 'NotoSansJP-Regular';
  float: left;
  margin: 4px;
  display: flex;
}

.header {
  background: rgba(250, 244, 232);
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  height: 130px;
  width: 130px;
  min-width: 130px;
  text-align: center;
  font-size: 30;
  word-wrap: break-word;
  cursor: pointer;
}

.headername {
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  word-wrap: break-word;
}

div.container {
  background-color: #B8B6B4;
  list-style: none;
  color: #222;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background: rgba(255, 252, 247);
  position: relative;
  height: 130px;
  width: 130px;
  text-align: center;
  font-size: 1em;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.itemname {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  word-wrap: break-word;
}

.hideButton {
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 3px;
}

/*For the controls and cards sections*/

.wrapper, .controls {
  margin: 0 auto;
  width: 90%;
  border: 3px;
  text-align: center;
}

.wrapper {
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
  background-color: #B8B6B4;
}

.controls {
  line-height: 20px;
  padding: 20px 20px 50px;
  background-color: #4F69FF;
  font-family: 'NotoSansJP-Regular';
}

a:link, a:visited, a:hover, a:active {
  color: lightblue;
}