/*
 * this helps the mirrored elements be the right size
 * and it's generally a good practice
 */
* {
  box-sizing: border-box;
}

h1{
  text-align: center;
}
#g1{
    float: left;
}
div.container {
  background: rgba(255, 255, 255, 0.4);
  list-style: none;
  padding: 20px;
  color: #222;
  margin: 4px;
}



.item{
  margin: auto;

}
.wrapper {
  margin: auto;
  width: 90%;
  border: 3px;
  padding: 10px;
  text-align: center;
  overflow: scroll;
}

.btn-primary{
  display: inline-block
}

a:link, a:visited, a:hover, a:active { color: lightblue; }
