/* Add application styles & imports to this file! */
@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url("src/assets/fonts/NotoSansJP-Regular.otf")
}


html {
  height: 100%;
}

button, input[type="file"] {
  cursor: pointer;
}

/* in-flight clone */
.gu-mirror {
  font-family: 'NotoSansJP-Regular';
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.88);
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  font-family: 'NotoSansJP-Regular';
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=90);
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 1px 1px 24px 6px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 1px 1px 24px 6px rgba(255, 255, 255, 0.8) inset;
}
